<html>
  <body>
    <div class="ui-page" deviceName="androidTablet" deviceType="mobile" deviceWidth="800" deviceHeight="1280">
         <div id="t-6fe6502b-1dd0-4961-9e15-6a18aaa7b10f" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="tmp_back_audiencias_detalle" width="800" height="1280">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/6fe6502b-1dd0-4961-9e15-6a18aaa7b10f-1553017922883.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/6fe6502b-1dd0-4961-9e15-6a18aaa7b10f-1553017922883-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/6fe6502b-1dd0-4961-9e15-6a18aaa7b10f-1553017922883-ie8.css" /><![endif]-->
           <div id="t-back_azul" class="pie rectangle firer commentable non-processed"   datasizewidth="800px" datasizeheight="1280px" dataX="0" dataY="0" >
            <div class="backgroundLayer"></div>
            <div class="paddingLayer">
              <div class="clipping">
                <div class="content">
                  <div class="valign">
                    <span id="rtr-t-back_azul_0"></span>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div id="t-bak_menu_header" class="pie rectangle firer commentable non-processed"   datasizewidth="800px" datasizeheight="125px" dataX="0" dataY="0" >
            <div class="backgroundLayer"></div>
            <div class="paddingLayer">
              <div class="clipping">
                <div class="content">
                  <div class="valign">
                    <span id="rtr-t-bak_menu_header_0"></span>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div id="t-txtAudiencias" class="pie label singleline autofit firer ie-background commentable non-processed"   datasizewidth="183px" datasizeheight="44px" dataX="570" dataY="41" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-txtAudiencias_0">AUDIENCIAS</span></div></div></div></div>

           <div id="t-imgBottom" class="pie image firer ie-background commentable non-processed"   datasizewidth="801px" datasizeheight="64px" dataX="0" dataY="1216"   alt="image">
               <img src="./images/bc4eb989-c775-446a-81fc-12269cbadc2b.png" />
           </div>
           <div id="t-Dropdown" class="group firer ie-background commentable non-processed" datasizewidth="345px" datasizeheight="226px" dataX="15" dataY="30" >
             <div id="t-Options" class="group firer ie-background commentable hidden non-processed" datasizewidth="345px" datasizeheight="181px" dataX="0" dataY="45" >
               <div id="t-rec_home" class="pie rectangle firer click commentable non-processed"   datasizewidth="345px" datasizeheight="46px" dataX="0" dataY="0" >
                <div class="backgroundLayer"></div>
                <div class="paddingLayer">
                  <div class="clipping">
                    <div class="content">
                      <div class="valign">
                        <span id="rtr-t-rec_home_0">Home</span>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               <div id="t-Rectangle_3" class="pie rectangle firer click commentable non-processed"   datasizewidth="345px" datasizeheight="46px" dataX="0" dataY="45" >
                <div class="backgroundLayer"></div>
                <div class="paddingLayer">
                  <div class="clipping">
                    <div class="content">
                      <div class="valign">
                        <span id="rtr-t-Rectangle_3_0">Select 2</span>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               <div id="t-Rectangle_4" class="pie rectangle firer click commentable non-processed"   datasizewidth="345px" datasizeheight="46px" dataX="0" dataY="90" >
                <div class="backgroundLayer"></div>
                <div class="paddingLayer">
                  <div class="clipping">
                    <div class="content">
                      <div class="valign">
                        <span id="rtr-t-Rectangle_4_0">Select 3</span>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               <div id="t-Rectangle_5" class="pie rectangle firer click commentable non-processed"   datasizewidth="345px" datasizeheight="46px" dataX="0" dataY="135" >
                <div class="backgroundLayer"></div>
                <div class="paddingLayer">
                  <div class="clipping">
                    <div class="content">
                      <div class="valign">
                        <span id="rtr-t-Rectangle_5_0">Select 4</span>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
             </div>
             <div id="t-Input_1" class="pie text firer click commentable non-processed"  datasizewidth="345px" datasizeheight="46px" dataX="0" dataY="0" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><input type="text"  value="" maxlength="100" readonly="readonly" tabindex="-1" placeholder=""/></div></div>  </div></div>
           </div>
           <div id="t-imgHamburguer" class="pie image firer click ie-background commentable non-processed"   datasizewidth="35px" datasizeheight="35px" dataX="26" dataY="35"   alt="image" systemName="./images/c9a3e51e-90f0-40c5-b48d-7f128813aaaf.svg" overlay="#7D7D7D">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
           </div>
           <div id="t-Image_2" class="pie image firer ie-background commentable non-processed"   datasizewidth="24px" datasizeheight="24px" dataX="330" dataY="40"   alt="image" systemName="./images/2c5f6319-ed28-4136-bc91-926469e9ec73.svg" overlay="#7D7D7D">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>