<html>
  <body>
    <div class="ui-page" deviceName="androidTablet" deviceType="mobile" deviceWidth="800" deviceHeight="1280">
         <div id="t-e21d721b-11d8-4817-bd27-f99723ac0e92" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="tmp_blanco" width="800" height="1280">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/e21d721b-11d8-4817-bd27-f99723ac0e92-1553017922883.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/e21d721b-11d8-4817-bd27-f99723ac0e92-1553017922883-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/e21d721b-11d8-4817-bd27-f99723ac0e92-1553017922883-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>